.container{ 
    margin-top: 0%;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-image:url(../images/texture-background.png);
    
}
#crystalsCollectors{
    width: 30%;
    height: 45%;
    margin-top: 10px;
    padding: 20px 30px;
    background-color: coral;   
    font-weight : bold;
    color: white;
    justify-content: center;
}
#game-instructions{
    color: green;
    background-color: linen;
    width: 80%;
    height: 80%;
    margin-top: 10px;
    justify-content: space-between;
}
.crystals{
    display: flex;
    background-color: linen;
    margin-top: 5px;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 50%;
}

.crystal{
    border: 0.5px solid #cccccc;
    background-color: #ffffff9f;
    height: 100px;
    width: 100px;
    /*box-shadow: 5px, 5px, 5px, rgba(0,0,0, 0.5);*/
}
.row{
    width: 80%;
    height: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -5%;
    justify-content: space-around;
    background-color: linen;
}
#random-number{
    margin-top: 5px;
    width: auto;
    height: auto;
   /* border: 1px solid black;*/
    background-color: paleturquoise;
}
.col-md-4 {
    margin-top: 5px;
    width: 50%;
    height: 24%;
   /* border: 1px solid black;*/
    background-color: paleturquoise;
}
#totalScore{
    width: 80%;
    height: 6%;  
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    background-color: linen;
    color: black;
    justify-content: left;
}